@model SearchFieldsViewModel
<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search.."/>
        <button class="buttonForSearch">
            <i class="fas fa-search icons"></i>
        </button>
    </div>
</div>
@*<div class="standardLink ml-3">
    <a asp-action="@Model.ActionMethod">Back to Full List</a>
</div>*@