@model ChangePasswordViewModel

@{
    ViewBag.Title = "Profile";
}

@await Component.InvokeAsync("ProfileTabs", new
{
    tabName = ProfileTabName.Password
})

<form asp-action="ChangePasswordAsync" method="post">
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="OldPassword">Old password</label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
                <input asp-for="OldPassword" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NewPassword">New password</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <input asp-for="NewPassword" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <input asp-for="ConfirmPassword" class="form-control"/>
            </div>
        </div>
    </div>
    <button class="btn btn-info" type="submit">Save</button>
</form>