@model UserProfileViewModel

@{
    ViewBag.Title = "User Profile";
}

@await Component.InvokeAsync("ProfileTabs", new
{
    tabName = ProfileTabName.Details
})

<form asp-action="UserProfileAsync" method="post">
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName">First name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <input asp-for="FirstName" class="form-control"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName">Last name</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
                <input asp-for="LastName" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone number</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <input asp-for="PhoneNumber" class="form-control"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TimeZone">Time zone</label>
                <span asp-validation-for="TimeZone" class="text-danger"></span>
                <select asp-for="TimeZone" asp-items="@(new SelectList(Model.TimeZoneList, "Value", "Value"))"
                        class="form-control custom-select">
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Address.Street">Street</label>
                <span asp-validation-for="Address.Street" class="text-danger"></span>
                <input asp-for="Address.Street" class="form-control"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Address.City">City</label>
                <span asp-validation-for="Address.City" class="text-danger"></span>
                <input asp-for="Address.City" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Address.PostalCode">Postal code</label>
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                <input asp-for="Address.PostalCode" class="form-control"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Address.Country">Country</label>
                <span asp-validation-for="Address.Country" class="text-danger"></span>
                <select asp-for="Address.Country" asp-items="Html.GetEnumSelectList<Country>()" class="form-control 
custom-select"></select>
            </div>
        </div>
    </div>

    <button class="btn btn-info" type="submit">Save</button>
</form>