<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>


<body>
<table width="580" cellspacing="0" cellpadding="0"
       border="0" style="font-family: 'Open Sans', sans-serif">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px #d2d2d2 solid">
                <tr>
                    <td align="left" valign="middle">
                        <p id="title" style="color: #138496; font-size: 16px">--Title--</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top">
            <table border="0" cellspacing="0"
                   cellpadding="0">
                <tr>
                    <td align="left" valign="top">
                        <p>
                        <div style="font-size: 15px">Hi!</div>
                        <div id="contenttext" style="font-size: 15px; margin-top: 10px">--Content--</div>
                        <div id="contentbutton" style="font-size: 15px; margin-top: 10px; margin-bottom: 10px">
                            <a href="--ButtonUrl--">--ButtonText--</a>
                        </div>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0"
                   cellpadding="1" style="border-top: 1px #d2d2d2 solid">
                <tr>
                    <td align="center" valign="middle">
                        <p style="font-size: 14px; color: #aaa">This email was sent from Gameet</p>
                    </td>
                </tr>
            </table>
</table>
</body>
</html>