<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>


<body>
    <div id="logocontainer">
        Let's play boardgame
    </div>
    <div id="maincontainer">
        <div id="title">--Title--</div>
        <div id="contenttext">--Content--</div>
        <div id="contentbutton">
            <a href="--ButtonUrl--">--ButtonText--</a>
        </div>
    </div>
    <div id="footer">
        Let's play board game
    </div>

</body>

</html>