<footer>
    <div class="footer standardLink">
        <address>
            Created by <a href="mailto:justyna.sobczak@gmail.com">Justyna Sobczak</a>,
            visit me on <a href="https://github.com/justynasobczak" target="_blank"><i class='fab fa-github icons'></i></a>
        </address>
    </div>
</footer>