<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Let's play board games">
    <meta name="keywords" content="board game">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/custom/style-main.css">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/hanging-tree/style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="~/hanging-tree/hangingTree.js"></script>
</head>
<body>
<header>
    <!--<div class="col-12" id="banner"></div>-->
    @await Html.PartialAsync("_Menu")

</header>
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <header>
                        <h1>@ViewBag.Title</h1>
                    </header>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/lib/jquery/jquery.slim.min.js"></script>
<script src="~/lib/popper.js/umd/popper.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>