<nav class="navbar mainMenu navbar-light navbar-expand-lg">
    <div class="container">
        <div class="navbar-brand">
            <img src="~/lib/custom/img/logoSmall.png" alt="logo"/>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="switch for navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Start" asp-action="Index"> Start </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Shelf" asp-action="List" class="nav-link"> My shelf </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Meeting" asp-action="List" class="nav-link"> Calendar </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="HangingTree" asp-action="HangingTree" class="nav-link"> Hanging tree </a>
                </li>
                @if (User?.Identity?.Name == "Admin")
                {
                    <li class="nav-item">
                        <a asp-controller="Game" asp-action="List" class="nav-link"> Games </a>
                    </li>
                }
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="UserProfileAsync"> Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="LogoutAsync"> Logout </a>
                </li>
            </ul>
        </div>
    </div>
</nav>