@{
    ViewBag.Title = "Calendar";
}
<div id="calendar"></div>

<link href="~/lib/fullcalendar/fullcalendar.min.css" rel="stylesheet"/>
<link href="~/lib/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print"/>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/lib/custom/main.js"></script>

    <script>
        getEventsAndGenerateCalendar()
    </script>
}

<div class="text-left">
    <a asp-controller="Meeting" asp-action="Create" class="btn btn-info mt-2" id="btnNewMeeting">New meeting</a>
</div>