@model MeetingViewModels.CreateEditMeetingViewModel

@{
    ViewBag.Title = "Create/edit meeting";
}

<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link tab-active" asp-controller="Meeting" asp-action="Edit" asp-route-id="@Model.MeetingID"> Details </a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-links" asp-controller="InvitedUser" asp-action="List" asp-route-id="@Model.MeetingID"> Users </a>
        </li>
    </ul>
</div>
<div>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="MeetingID"/>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <span asp-validation-for="Title" class="text-danger"></span>
            <input asp-for="Title" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="StartDateTime">Start date and time</label>
            <span asp-validation-for="StartDateTime" class="text-danger"></span>
            <input type="datetime-local" asp-for="StartDateTime" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="EndDateTime">End date and time</label>
            <span asp-validation-for="EndDateTime" class="text-danger"></span>
            <input type="datetime-local" asp-for="EndDateTime" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="Organizer">Organizer</label>
            <span asp-validation-for="Organizer" class="text-danger"></span>
            <select asp-for="Organizer" asp-items="@(new SelectList(Model.Organizers, "Id", "UserName"))" class="form-control"></select>
        </div>

        <div class="form-group">
            <label asp-for="Address.Street">Street</label>
            <span asp-validation-for="Address.Street" class="text-danger"></span>
            <input asp-for="Address.Street" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Address.City">City</label>
            <span asp-validation-for="Address.City" class="text-danger"></span>
            <input asp-for="Address.City" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Address.PostalCode">Postal code</label>
            <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            <input asp-for="Address.PostalCode" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Address.EnumCountry">Country</label>
            <span asp-validation-for="Address.EnumCountry" class="text-danger"></span>
            <select asp-for="Address.EnumCountry" asp-items="Html.GetEnumSelectList<CountryEnum>()" class="form-control"></select>
        </div>

        <div class="text-left">
            <button class="btn btn-info" type="submit">Save</button>
            <a asp-action="List" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>