@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/fullcalendar/fullcalendar.min.css" rel="stylesheet"/>
    <link href="~/lib/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print"/>
    <title>Calendar</title>
</head>
<body>
<h2>Calendar</h2>
<div id="calendar"></div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="~/lib/fullcalendar/fullcalendar.min.js"></script>

<script>
    $(document).ready(function() {
        var events = [];
        $.ajax({
            type: "GET",
            url: "/event/GetEvents",
            success: function(data) {
                $.each(data,
                    function(i, v) {
                        events.push({
                            title: v.title,
                            start: moment(v.startDateTime),
                            end: moment(v.endDateTime)
                        });
                    })
                GenerateCalendar(events);
            },
            error: function(error) {
                alert('failed');
            }

        })

        function GenerateCalendar(eventsToList) {
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                contentHeight: 400,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                events: eventsToList

            })
        }
    })
</script>

</body>
</html>