@model ShelfEditViewModel
@{
    ViewBag.Title = "Edit my shelf";
}

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
    <h6 class="bg-info p-2 text-white">Add to my shelf</h6>
    <table class="table table-bordered table-sm">
        @if (Model.AvailableGames.Count() == 0)
        {
            <tr><td colspan="2">You have all games</td></tr>
        }
        else
        {
            foreach (Game game in Model.AvailableGames)
            {
                <tr>
                    <td>@game.Title</td>
                    <td><input type="checkbox" name="IdsToAdd" value="@game.GameId" /></td>
                </tr>
            }
        }
    </table>

    <h6 class="bg-info p-2 text-white">Remove from my shelf</h6>
    <table class="table table-bordered table-sm">
        @if (Model.Shelf.Count() == 0)
        {
            <tr><td colspan="2">No games on your shelf</td></tr>
        }
        else
        {
            foreach (Game game in Model.Shelf)
            {
                <tr>
                    <td>@game.Title</td>
                    <td><input type="checkbox" name="IdsToDelete" value="@game.GameId" /></td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-info">Save</button>
    <a asp-action="List" class="btn btn-secondary">Cancel</a>
</form>
