@model ShelfListViewModel
@{
    ViewBag.Title = "My shelf";
}
<form asp-action="List" class="form-inline mb-4" method="get">
    @await Component.InvokeAsync("SearchFields", new {ActionMethod = nameof(ShelfController.List)})
    <a asp-action="Edit" class="btn btn-info btn-sm text-right ml-auto">Add to shelf</a>
</form>

<table class="table table-hover">

    @if (!Model.Shelf.Any())
    {
        <tr>
            <td colspan="3" class="text-center">No games</td>
        </tr>
    }
    else
    {
        foreach (var game in Model.Shelf)
        {
            <tr>
                <td style="width: 10%">
                    @if (game.PhotoPath != null)
                    {
                        var photoPath = $"~/gamephotos/{game.PhotoPath}";
                        <img src="@photoPath" alt="no image" asp-append-version="true" class="imageGame"/>
                    }
                    else
                    {
                        <img src="/lib/custom/img/noImageAlien.jpg" alt="no image" asp-append-version="true" class="imageGame"/>
                    }
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <p>
                            @game.Title
                            <input type="hidden" name="id" value="@game.GameId.ToString()"/>
                            <button type="submit" class="buttonForIcons">
                                <i class="far fa-trash-alt icons" data-toggle="tooltip" title="@Constants.DeleteGameFromShelfTooltip"></i>
                            </button>
                        </p>
                    </form>
                </td>
            </tr>
        }
    }
</table>
@await Component.InvokeAsync("PaginationTabs", new
{
    HasPreviousPage = Model.Shelf.HasPreviousPage,
    HasNextPage = Model.Shelf.HasNextPage,
    PageIndex = Model.Shelf.PageIndex,
    ActionMethod = nameof(ShelfController.List)
})

@section Scripts
{
    <script src="/lib/custom/main.js"></script>
    <script>
        generateTooltip()
    </script>
}