@model CreateEditGameViewModel

@{
    ViewBag.Title = "Create/edit game";
}
<form enctype="multipart/form-data" asp-action="Edit" method="post">
    <input type="hidden" asp-for="GameId"/>
    <input type="hidden" asp-for="PhotoPath"/>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <span asp-validation-for="Title" class="text-danger"></span>
        <input asp-for="Title" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Title">Uploaded photo</label>
        @if (Model.PhotoPath != null)
        {
            var photoPath = $"~/gamephotos/{Model.PhotoPath}";
            <div>
                <img src="@photoPath" alt="no image" asp-append-version="true" class="imageGame"/>
            </div>
        }
        else
        {
            <span>No photo</span>
        }
    </div>
    <div class="form-group">
        <label asp-for="Photo">New photo</label>
        <span asp-validation-for="Photo" class="text-danger"></span>
        <div class="custom-file">
            <input asp-for="Photo" class="form-control custom-file-input"/>
            <label class="custom-file-label">Choose the file ...</label>
        </div>
    </div>
    <div class="text-left">
        <button class="btn btn-info" type="submit" id="btnSaveGame">Save</button>
        <a asp-action="List" class="btn btn-secondary" id="btnCancelGame">Cancel</a>
    </div>

</form>

@section Scripts
{
    <script src="/lib/custom/main.js"></script>
    <script>
    setFileName()
    </script>
}