@model GamesListViewModel
@{
    ViewBag.Title = "Games";
}
<table class="table table-sm table-bordered">
    <tr>
        <th class="text-left">Title</th>
        <th class="text-left">Action</th>
    </tr>

    @if (Model.Games.Count() == 0)
    {
        <tr><td colspan="2" class="text-center">No games</td></tr>
    }
    else
    {
        foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Title</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@game.GameID">Edit</a>
                        <input type="hidden" name="id" value="@game.GameID" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<div class="text-left">
    <a asp-action="Create" class="btn btn-primary">Add Game</a>
</div>
