@model GamesListViewModel
@{
    ViewBag.Title = "Games";
}
<table class="table table-sm table-bordered">
    <tr>
        <th class="text-left">Title</th>
        <th class="text-left">Photo</th>
        <th class="text-left">Action</th>
    </tr>

    @if (!Model.Games.Any())
    {
        <tr><td colspan="3" class="text-center">No games</td></tr>
    }
    else
    {
        foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Title</td>
                <td>
                    @{ var photoPath = $"~/gamephotos/{game.PhotoPath}";}
                    <img src="@photoPath" alt="no image" asp-append-version="true" class="imageGame"/>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@game.GameId">Edit</a>
                        <input type="hidden" name="id" value="@game.GameId" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<div class="text-left">
    <a asp-action="Create" class="btn btn-info">Add Game</a>
</div>
