@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
@await Component.InvokeAsync("BeforeLoginNav", new
{
    pageName = BeforeLoginPageName.ResetPassword
})

<div class="container">
    <div class="row bodyBeforeLogin">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <header>
                <h2>@ViewBag.Title</h2>
            </header>
            <form method="post" asp-controller="Account" asp-action="ResetPasswordAsync">
                <input type="hidden" asp-for="EmailToken"/>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <input asp-for="Email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">New password</label>
                    <div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <input asp-for="NewPassword" class="form-control"/>
                </div>
                <button class="btn mainButtonBeforeLogin btn-block" type="submit">SAVE</button>
            </form>
        </div>
    </div>
</div>