@model SendResetPasswordLinkViewModel
@{
    ViewBag.Title = "Reset password";
}
<form asp-action="SendResetPasswordLinkAsync" method="post" class="form-container">
    <h1>Reset password</h1>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div class="custom-danger"><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="text-left">
        <button class="btn btn-info btn-block" type="submit">Send reset password link</button>
        <div class="beforeLoginLinks">Remember password? <a asp-action="Login">Log In</a></div>
    </div>
</form>


