@model SendResetPasswordLinkViewModel
@{
    ViewBag.Title = "Reset password";
}

@await Component.InvokeAsync("BeforeLoginNav", new
{
    pageName = BeforeLoginPageName.ResetPassword
})

<div class="container">
    <div class="row bodyBeforeLogin">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
            <header>
                <h2>@ViewBag.Title</h2>
            </header>
            <form asp-action="SendResetPasswordLinkAsync" method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <input asp-for="Email" class="form-control"/>
                </div>
                <button class="btn mainButtonBeforeLogin btn-block" type="submit">Send reset password link</button>
                <div>
                    <h4>Remember password?</h4></>
                </div>
                <a asp-action="Login" class="btn secondButtonBeforeLogin btn-block">LOG IN</a>
            </form>
        </div>
    </div>
</div>