@model MeetingDescriptionViewModel
@{
    ViewBag.Title = "Meeting";
}

@await Component.InvokeAsync("MeetingTabs", new
{
    meetingId = Model.MeetingId, tabName = MeetingTabName.Description,
    isCreateMode = false
})

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="MeetingId"/>
    <div class="form-group">
        <textarea asp-for="Description" id="meetingDescription"></textarea>
    </div>
    <div class="text-left">
        <button class="btn btn-info" type="submit" id="btnSaveDescription">Save</button>
        <a asp-controller="Meeting" asp-action="List" class="btn btn-secondary ml-1" id="btnCancelDescription">Cancel</a>
    </div>
</form>

@section Scripts
{
    <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
    <script src="~/lib/custom/main.js"></script>

    <script>
        renderMarkdownEditor()
    </script>
}